<div class="container">
  <h1><%= @flat.name %></h1>
    <%= image_tag @flat.url %>
  <ul>
    <li>
      <%= @flat.description %>
    </li>
    <li>
      <%= @flat.address %>
    </li>
    <li>
      <%= @flat.price_per_night %>
    </li>
    <li>
      <%= @flat.number_of_guests %>
    </li>
  </ul>
</div>
